upstream nodeapp{
server SERVER_IP_ADDR:3000;
server SERVER_IP_ADDR:3000;
}

server{
listen 80;
server_name {{server_name}};
location /{
proxy_pass http://nodeapp;
proxy_set_header X-FRORWARDED-For $remote_addr;
proxy_set_header Host $http_host;
}
}
